# -*- mode: snippet -*-
# name: emacs-lisp-headers
# uuid: elispheaders
# key: elispheaders
# --

;;; `(file-name-nondirectory (buffer-file-name))` --- $0  -*- lexical-binding: t; -*-

;;; Commentary:

$1

;;; Code :

$2

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
;;; `(file-name-nondirectory (buffer-file-name))` ends here
